<%= render 'shared/banner' %>
<div class="container">
  <h1>Le projet</h1>
  <p>GASPER est une marque de bière au pain pour lutter contre le gaspillage alimentaire.</p>
</div>

<div class="container">
  <h1>Où nous trouver</h1>
  <p>Pour le moment, les points de vente sont à Amiens.</p>
</div>
